{% extends "base.html" %}

{% block content %}
<div class="login-form">
    <form action="" method="post">
        <h2 class="text-center">Log in</h2>
        {{ login_form.csrf_token }}
        <div class="form-group">
            {{ login_form.username(class="form-control", placeholder="Email") }}
        </div>
        <div class="form-group">
            {{ login_form.password(class="form-control", placeholder="Password") }}
        </div>
        <div class="form-group">
            {{ login_form.submit(class="btn btn-primary btn-block") }}
        </div>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
        <div class="clearfix">
            {{ login_form.remember_me }}
            Remember me
            <a href="#" class="pull-right">Forgot Password?</a>
        </div>
    </form>
</div>
{% endblock %}