{% extends "admin/admin_base.html" %}
{% block content %}

<div class="row text-center">
    <div class="col-md-3">
        <div class="counter">
            <i class="fa fa-user fa-2x"></i>
            <h2 class="timer count-title count-number" data-to="{{ student_count }}" data-speed="1500"></h2>
            <p class="count-text "> Students </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="counter">
            <i class="fas fa-chalkboard-teacher fa-2x"></i>
            <h2 class="timer count-title count-number" data-to="{{ staff_count }}" data-speed="1500"></h2>
            <p class="count-text "> Staff </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="counter">
            <i class="fas fa-school fa-2x"></i>
            <h2 class="timer count-title count-number" data-to="{{ classroom_count }}" data-speed="1500"></h2>
            <p class="count-text ">Class</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="counter">
            <i class="fas fa-user-graduate fa-2x"></i>
            <h2 class="timer count-title count-number" data-to="19" data-speed="1500"></h2>
            <p class="count-text ">Graduated</p>
        </div>
    </div>
</div>
{% endblock %}