{% extends 'admin/admin_base.html' %}
{% block content %}
<div class="well">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="text-left">Tên học viên</th>
      <th scope="col"> Ngày</th>
      <th scope="col">Lớp học</th>
      <th scope="col">Vắng mặt</th>
    </tr>
  </thead>
  <tbody>
  {% for attendance in attendances %}
    <tr>
      <th scope="row">{{attendance.id}}</th>
      <td class="text-left">{{attendance.student.name}}</td>
      <td>{{attendance.date.date()}}</td>
      <td>{{attendance.subject.name}}</td>
      <td>{{attendance.absent}}</td>
      <td>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
  <a href="{{ url_for('main.newAttendance') }}" class="btn btn-primary">New Attendance</a>

</div>
{% endblock %}