{% extends 'admin/admin_base.html' %}
{% block content %}
<div class="col-md-10">
    <form class="well form-horizontal" action=" " method="post" id="contact_form">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Address</th>
                <th scope="col">Class</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
            <tr>
                <th scope="row">{{student.id}}</th>
                <td>{{student.name}}</td>
                <td>{{student.phone_number}}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.subject.name }}</td>
                <td>
                    <div class="form-group">
                        <input id="fancy-checkbox-primary-{{ student.id }}" name="{{ student.id }}" type="checkbox" autocomplete="off">
                        <div class="[ btn-group ]">
                            <label for="fancy-checkbox-primary-{{ student.id }}" class="[ btn btn-primary ]">
                                <span class="[ glyphicon glyphicon-ok ]"></span>
                                <span> </span>
                            </label>
                            <label for="fancy-checkbox-primary-{{ student.id }}" class="[ btn btn-default active ]">
                                Có mặt
                            </label>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form.csrf_token }}
        {{ form.submit(class="btn btn-success") }}
    </form>

</div>
{% endblock %}