{% extends 'admin/admin_base.html' %}
{% block content %}
<form class="well form-horizontal" action=" " method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>SELECT DATE AND CLASS</legend>

{{ form.csrf_token }}
<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Date</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group date" id="datepicker" data-date-format="dd-mm-yyyy">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        {{ form.date(class="form-control" ,readonly="readonly") }}
    </div>
  </div>
</div>


<!-- Select Basic -->

<div class="form-group">
  <label class="col-md-4 control-label">Class</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    <select name="subject" class="form-control selectpicker" >
      <option value=" " >Please select student class</option>
        {% for subject in subjects %}
      <option>{{ subject.name }}</option>
      {% endfor %}

    </select>
  </div>
</div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
      {{ form.submit(class="btn btn-warning") }}
      <a href="{{ url_for('main.newAttendance') }}" class="btn btn-success">New</a>
  </div>
</div>

</fieldset>
</form>
{% endblock %}