{% extends 'admin/admin_base.html' %}
{% block content %}
<div class="well">
<table class="table table-font">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên lớp</th>
      <th scope="col">Sĩ số</th>
      <th scope="col">Giáo viên phụ trách</th>
    </tr>
  </thead>
  <tbody>
  {% for subject in subjects %}
    <tr>
      <th scope="row">{{subject.id}}</th>
      <td>{{subject.name}}</td>
      <td>{{ Student.query.filter(Student.subject_id== subject.id).count() }}</td>
      <td>{{ subject.teacher.username }}</td>
      <td>
        <a class="label label-danger" href=" {{ url_for('main.removeSubject', id=subject.id) }}">Delete</a>
        <a class="label label-success" href="{{ url_for('main.editSubject', id=subject.id) }}">Edit</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
  <a href="{{ url_for('main.addSubject') }}" class="btn btn-primary btn-sm">Thêm lớp học</a>

</div>
{% endblock %}